.DS_Store
MANIFEST
__pycache__
.coverage
.tox/
*.egg-info
*.pot
*.py[co]

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# cimo +
.cache
.config
.local
.pki
application/tls/certificate/*
!application/tls/certificate/.gitkeep
application/tls/certificate/proxy/*
!application/tls/certificate/proxy/.gitkeep
file_share/certificate/*
!file_share/certificate/.gitkeep
file_share/db_backup/*
!file_share/db_backup/.gitkeep
log/*
!log/.gitkeep
