services:
  cimo_ms_cronjob:
    container_name: cimo-ms-cronjob
    env_file:
      - ./env/local.env
    build:
      context: ./
      dockerfile: ./docker/${DOCKERFILE}
      args:
        _ENV_NAME: ${ENV_NAME}
        _DOMAIN: ${DOMAIN}
        _TIME_ZONE: ${TIME_ZONE}
        _LANG: ${LANG}
        _SERVER_PORT: ${SERVER_PORT}
        _PATH_ROOT: ${PATH_ROOT}
        _PATH_CERTIFICATE_PEM: ${MS_C_PATH_CERTIFICATE_PEM}
    ports:
      - 127.0.0.1:${SERVER_PORT}:${SERVER_PORT}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./:${PATH_ROOT}
      - ms_cronjob-volume:/usr/local/share/ca-certificates/
      - /var/run/docker.sock:/var/run/docker.sock
      - /mnt/wslg:/mnt/wslg
volumes:
  ms_cronjob-volume:
